# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Logs
# =========================
logs
*.log
firebase-debug.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build folders
# =========================
dist/
build/

# =========================
# Firebase cache
# =========================
.firebase/

# =========================
# Uploaded images (local server)
# =========================
public/images/uploads/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# IDE
# =========================
.vscode/
.idea/